/****header*/
.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(34, 46, 79);
  padding: 20px 40px;
}
.profile {
  display: flex;
  flex-direction: column;
}
.profile img {
  width: 80px;
  border-radius: 100px;
}
.searchBar {
  display: flex;
  align-items: center;
}
.searchBar div input {
  outline: none;
  padding: 16px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  font-size: 1.2rem;
  border: none;
}
.icon {
  background-color: white;
  padding: 16px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/******nav*/
.navWrapper {
  background-color: #1a284d;
  min-height: 100vh;
}
.navContent {
  position: sticky;
  top: 0;
  padding-top: 90px;
}
.menu {
  display: flex;
  flex-direction: column;
  
}
.menu span {
  font-weight: 300;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 10px ;
  display: flex;
  align-items: center;
}

.menu span:hover {
  background-color: rgb(48, 64, 107);
}
.create {
  display: flex;
  align-items: center;
  background-color: #0f3460;
  padding: 10px;
  border-radius: 50px;
  margin: 7px;
  font-size: 1.3rem;
  gap: 4px;
  cursor: pointer;
}
.priorityIndex{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.fill_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    
}
.fill{
    width: 25px;
    height: 25px;
}


/**MAIN**/
.mainWrapper {
  position: relative;
}
.task {
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.side {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  justify-content: center;
}
.side input {
  width: 35px;
  height: 35px;
  padding: 20px;
  accent-color: #f6f8fb;
}
.taskDetails {
  display: flex;
  flex-direction: column;
}
.taskDetails .title {
  font-size: 1.3rem;
  padding: 8px 0;
}
.taskDetails .desc {
  color: #dadede;
}

.edit_delete_icons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.low, .lowFill {
  background-color: #0f3460;
  color: #f6f8fb;
}
.high, .highFill {
  background-color: #e94560;
}
.medium, .mediumFill {
  background-color: #533483;
}


.createForm{
  position: fixed;
  background-color: #0a1b48;
  left: 34%;
  top: 20%;
  z-index: 100;
}