
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;600&family=Play:wght@400;700&display=swap');

/****header*/
.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:transparent;
  padding: 20px 40px;
}
.profile {
  display: flex;
  flex-direction: column;
}
.profile img {
  width: 80px;
  border-radius: 100px;
}
.searchBar {
  display: flex;
  align-items: center;
}
.searchBar div{
 
  
}
.searchBar div input {
  outline: none;
  padding: 16px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  font-size: 1.2rem;
  border: none;
  
}
.searchBar div input:hover{
  

}
.icon {
  background-color: white;
  padding: 17px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/******nav*/
.navWrapper {
  background-color: rgb(26,31,60);
  min-height: 100vh;
}
.navContent {
  position: sticky;
  top: 0;
  padding-top: 90px;
}
.menu {
  display: flex;
  flex-direction: column;
  
}
.menu span {
  font-weight: 300;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 10px ;
  display: flex;
  align-items: center;
}

.menu span:hover {
  background-color: rgb(48, 64, 107);
}
.create {
  display: flex;
  align-items: center;
  background-color: #0f3460;
  padding: 10px;
  border-radius: 50px;
  margin: 7px;
  font-size: 1.3rem;
  gap: 4px;
  cursor: pointer;
}
.priorityIndex{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.fill_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    
}
.fill{
    width: 25px;
    height: 25px;
}


/**MAIN**/
.mainWrapper {
  position: relative;
}
.task {
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.side {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  justify-content: center;
}
.side input {
  width: 35px;
  height: 35px;
  padding: 20px;
  accent-color: #b7b9bb;
}



.task{
  background-color:rgb(32,36,64) ;
}
.task:hover{
  background-color: rgba(32,36,64, .5);
}
.taskDetails {
  display: flex;
  flex-direction: column;
  
}
.taskDetails .title {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0px 0 10px;
  color: rgb(247, 240, 240) ;
}
.taskDetails .desc {
  color: #dadede;
  text-transform:capitalize;
  margin: 0px 0 10px;
}
.priority_detail{
  opacity: .7;
}

.edit_delete_icons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}
.medium{
  color: rgb(61, 10, 246);
}
.low{
  color: #533483;

}
.high{
  color:#e94560;
}

.lowFill {
  background-color: #0f3460;

}
 .highFill {
  background-color: #e94560;
}
 .mediumFill {
  background-color: #533483;


}


.modal-container{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.form-modal{
  background-color: #0a1b48;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form textarea

{
  width: 100%;
  padding: 5px 10px;
  margin-top: 5px;
}

form button{
  width: 120px;
  padding: 10px;
  margin-top: 20px;
  margin-right: 10px;
}

.errorComponent{
  display: flex;
  justify-content: center;
  align-items: center;
}
.TaskHeading{
  padding: 0 0 10px 30px;
  font-size: 1.4rem;
  font-family: play;
  text-transform: capitalize;
}