.appContainer{
    background-color: rgb(23,25,56);
    width: 800px;
    min-height: 100vh;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
    
    
}

.taskGrid{
    display: grid;
    grid-template-columns: 20% 70%;
}